@inherits Umbraco.Web.Mvc.UmbracoViewPage

@using ClientDependency.Core.Mvc

@using Umbraco.Web.PublishedModels

@{
    Layout = null;

    Html.RequiresCss("~/static/lib/lightbox/css/lightbox.min.css", 1);
    Html.RequiresCss("~/static/lib/owlcarousel/assets/owl.carousel.min.css", 2);
    Html.RequiresCss("~/static/css/bootstrap.min.css", 3);
    Html.RequiresCss("~/static/css/style.css", 4);

    Html.RequiresJs("/static/js/jquery.js", 1);
    Html.RequiresJs("/static/lib/easing/easing.min.js", 2);
    Html.RequiresJs("/static/lib/waypoints/waypoints.min.js", 3);
    Html.RequiresJs("/static/lib/lightbox/js/lightbox.min.js", 4);
    Html.RequiresJs("/static/lib/owlcarousel/owl.carousel.min.js", 5);
    Html.RequiresJs("/static/js/main.js", 6);

    var home = (Inicio)Model.Root();
    string textSearch = Request.QueryString["q"] != null ? Request.QueryString["q"].Trim() : String.Empty;

    var buscar = (Buscador)home.Children<Buscador>().Where(x => x.IsVisible()).FirstOrDefault();

    string urlBuscador = buscar.Url().TrimEnd('/');

}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <title>@home.TituloPrincipal</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="keywords" />
    <meta content="" name="description" />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@600;800&display=swap"
          rel="stylesheet" />

    <!-- Icon Font Stylesheet -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />

    @Html.RenderCssHere()
</head>

<body>
    <div class="container-fluid fixed-top">
        <div class="container">
            <a href="@home.Url()" class="navbar-brand">
                <h1 class="text-primary display-6 text-center">@home.NombreDelSitio</h1>
            </a>
        </div>
        <div class="container px-0">
            <nav class="navbar navbar-light bg-white navbar-expand-xl">
                <button class="navbar-toggler py-2 px-3"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarCollapse">
                    <span class="fa fa-bars text-primary"></span>
                </button>
                <div class="collapse navbar-collapse bg-white" id="navbarCollapse">

                    @Html.Partial("~/views/partials/Menu.cshtml")

                    <div class="d-flex m-3 me-0">
                        <div class="col-3 col-lg-5 col-xl-1 col-xxl-2 bg-top_gov p-0">
                            <div class="select_languages_container p-0">
                                @foreach (var (culture, infos) in Model.Cultures)
                                {
                                    switch (culture.ToLower())
                                    {
                                        case "es":
                                            <a href="@Model.Url(culture)" class="btn_language @(Model.GetCultureFromDomains().ToLower()==culture.ToLower() ? "active":String.Empty)">
                                                <p class="language_name m-0">ES</p>
                                                <img class="language_img"
                                                     src="~/static/img/lang/es.png"
                                                     height="12px"
                                                     alt="Bandera idioma español" />
                                            </a>
                                            break;

                                        case "en-us":
                                            <a href="@Model.Url(culture)" class="btn_language @(Model.GetCultureFromDomains().ToLower()==culture.ToLower() ? "active":String.Empty)">
                                                <p class="language_name m-0">EN</p>
                                                <img class="language_img"
                                                     src="~/static/img/lang/en.png"
                                                     height="12px"
                                                     alt="Bandera idioma ingles" />
                                            </a>
                                            break;
                                    }
                                }
                            </div>
                        </div>
                        <button id="botonBuscador" class="btn-search btn border border-secondary btn-md-square rounded-circle bg-white me-4"
                                data-bs-toggle="modal"
                                data-bs-target="#searchModal">
                            <i class="fas fa-search text-primary"></i>
                        </button>
                    </div>
                </div>
            </nav>
        </div>
    </div>

    <div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content rounded-0">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">@Umbraco.GetDictionaryValue("busqueda")</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex align-items-center">
                    <div class="input-group w-75 mx-auto d-flex">
                        <form action="/buscar?q=" id="formSearch" class="w-75 mx-auto d-flex">
                            <input type="search"
                                   id="textSearch"
                                   value="@textSearch"
                                   class="form-control p-3"
                                   placeholder="@Umbraco.GetDictionaryValue("placeholder_buscador")"
                                   aria-describedby="search-icon-1" />
                            <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @RenderBody()

    <div class="container-fluid bg-dark text-white-50 footer pt-5 mt-5">
        <div class="container py-5">
            <div class="pb-4 mb-4" style="border-bottom: 1px solid rgba(226, 175, 24, 0.5)">
                <div class="row g-4">
                    <div class="col-lg-9 col-sm-12">
                        <a href="#">
                            <h1 class="text-primary mb-0">@home.NombreDelSitio</h1>
                            <p class="text-secondary mb-0">@home.Lema</p>
                        </a>
                    </div>

                    <div class="col-lg-3 col-sm-12">
                        <div class="d-flex justify-content-end pt-3">
                            <a class="btn btn-outline-secondary me-2 btn-md-square rounded-circle" href="">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a class="btn btn-outline-secondary me-2 btn-md-square rounded-circle" href="">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a class="btn btn-outline-secondary me-2 btn-md-square rounded-circle" href="">
                                <i class="fab fa-youtube"></i>
                            </a>
                            <a class="btn btn-outline-secondary btn-md-square rounded-circle" href="">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Back to Top -->
    <a href="#" class="btn btn-primary border-3 border-primary rounded-circle back-to-top">
        <i class="fa fa-arrow-up"></i>
    </a>

    <!-- JavaScript Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>

    @Html.RenderJsHere()

    <script>
        $(document).ready(function () {
            var url = "@urlBuscador";

            $(document).on("submit", "#formSearch", function (e) {
                e.preventDefault();
                if ($("#textSearch").val() != "") {
                    document.location.href = url+"?q=" + $("#textSearch").val();
                } else {
                    $("#textSearch").css("border-style", "solid");
                    $("#textSearch").css("border-color", "rgb(218, 16, 16)");
                    $("#textSearch").css("border-width", "0px 0px 1px");
                    $("#textSearch").focus();
                }
            });
        });
    </script>

    @if (IsSectionDefined("js"))
    {
        @RenderSection("js", false)
    }
</body>
</html>
