@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Producto>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "Master.cshtml";
    var producto = (Producto)Model;
    var seccionProductos = (Productos)producto.Parent;

    string categorias = "";
    foreach (var cat in producto.Categoria)
    {
        categorias += cat + ",";
    }
}

<div class="container-fluid page-header py-5" style="background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(@seccionProductos.ImagenDeFondo.Url()); background-position: center center; background-repeat: no-repeat; background-size: cover;">
    <h1 class="text-center text-white display-6">@producto.NombreProducto</h1>
</div>

<div class="container-fluid py-5 mt-5">
    <div class="container py-5">
        <div class="row g-4 mb-5">
            <div class="col-lg-12">
                <div class="row g-4">
                    <div class="col-lg-6">
                        <div class="border rounded">
                            <a href="#">
                                <img src="@producto.Imagen.Url()" class="img-fluid rounded" alt="@producto.NombreProducto" />
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <h4 class="fw-bold mb-3">@producto.NombreProducto</h4>
                        <p class="mb-3">
                            @Umbraco.GetDictionaryValue("categoria"): @categorias.TrimEnd(',')

                        </p>
                        <h5 class="fw-bold mb-3">$ @producto.ValorProducto</h5>

                        @producto.ResumenProducto
                    </div>
                    <div class="col-lg-12">
                        <nav>
                            <div class="nav nav-tabs mb-3">
                                <button class="nav-link active border-white border-bottom-0"
                                        type="button"
                                        role="tab"
                                        id="nav-about-tab"
                                        data-bs-toggle="tab"
                                        data-bs-target="#nav-about"
                                        aria-controls="nav-about"
                                        aria-selected="true">
                                    @Umbraco.GetDictionaryValue("descripcion")
                                </button>
                            </div>
                        </nav>
                        <div class="tab-content mb-5">
                            <div class="tab-pane active"
                                 id="nav-about"
                                 role="tabpanel"
                                 aria-labelledby="nav-about-tab">
                                @producto.DescripcionProducto
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>